In [2]:
!poetry add mysql-connector-python

The following packages are already present in the pyproject.toml and will be skipped:

  â€¢ mysql-connector-python

If you want to update it to the latest compatible version, you can use `poetry update package`.
If you prefer to upgrade it to the latest available version, you can use `poetry add package@latest`.

Nothing to add.

In [20]:
# Import the MySQL Connector/Python Pool
import mysql.connector as connector

connection = connector.connect(user = "ultracode", password = "ultracode", db = "LittleLemonDB")

# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

In [21]:
cursor.execute("SHOW DATABASES")
results=cursor.fetchall()
for result in results:
    print(result)

('LittleLemonDB',)
('global_super_store',)
('information_schema',)
('mangata_gallo',)
('md_water_services',)
('mg_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('sys',)
('test',)
('united_nations',)

In [22]:
cursor.execute("SHOW TABLES")
results=cursor.fetchall()
for result in results:
    print(result)

('Bookings',)
('Customers',)
('MenuItems',)
('Menus',)
('Orders',)

In [23]:
query_with_table_join="""SELECT
  Customers.FullName,
  Customers.ContactNumber,
  Customers.Email
FROM
  Customers
JOIN
  Orders ON Customers.CustomerID = Orders.CustomerID
WHERE
  Orders.TotalCost > 60;"""

cursor.execute(query_with_table_join)
results=cursor.fetchall()
for result in results:
    print(result)

('Jane Doe', '987-654-3210', 'jane.doe@example.com')
('Peter Parker', '555-1212-1212', 'peter.parker@example.com')
('Clark Kent', '777-777-7777', 'clark.kent@example.com')
('Diana Prince', '888-888-8888', 'diana.prince@example.com')